<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <isobar>
            <megamenu>
                <config>
                    <megamenu_general_active_mobile>0</megamenu_general_active_mobile>
                    <megamenu_general_active_mobile_logo>0</megamenu_general_active_mobile_logo>
                </config>
            </megamenu>
        </isobar>
    </default>
</config>