<?xml version="1.0"?>
<!--
/*
 * @copyright: Copyright © 2024 Marvelic. All rights reserved.
 * @author   : Marvelic Engine Co.,Ltd. <info@marvelic.co.th>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="beamcheckout" frontName="beamcheckout">
            <module name="Marvelic_BeamCheckout" />
        </route>
    </router>
</config>