<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment" type="text" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="banktransfer" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <field id="descriptions" translate="label" type="editor" sortOrder="62" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Instructions for use</label>
                    <frontend_model>Isobar\BankTransferProcess\Block\Adminhtml\System\Config\Editor</frontend_model>
                    <!-- <scope_label>[GLOBAL]</scope_label> -->
                    <comment>
                        <![CDATA[ Create Instructions for Banktransfer. ]]>
                    </comment>
                </field>
                <field id="instructions" type="hidden">
                    <label>Instructions</label>
                </field>
                <field id="order_status" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>New Order Status</label>
                    <source_model>Isobar\BankTransferProcess\Model\Config\Source\Order\Status\BankTransferStatuses</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
