<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <zipcode>
            <general>
                <zipcode_general_active>0</zipcode_general_active>
                <show_address_suggestion_for_the_country>TH</show_address_suggestion_for_the_country>
            </general>
        </zipcode>
    </default>
</config>
