<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2023 Amasty (https://www.amasty.com)
 * @package Extended Order Grid for Magento 2
 */-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="amasty_ogrid" translate="label" type="text" sortOrder="161812" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Order Grid</label>
            <tab>amasty</tab>
            <resource>Amasty_Ogrid::amasty_ogrid</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="hide_statuses" translate="label comment" type="multiselect" sortOrder="1" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Hide orders with statuses</label>
                    <source_model>Magento\Sales\Ui\Component\Listing\Column\Status\Options</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="product_image" translate="label" type="select" sortOrder="15" showInDefault="1">
                    <label>Product Image</label>
                    <source_model>Magento\Catalog\Model\Config\Source\Product\Thumbnail</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
