<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\DefaultConfigProvider">
        <plugin name="custom-news-letter" type="Marvelic\CustomNewsletter\Plugin\Checkout" sortOrder="10" />
    </type>
    <preference for="Amasty\CheckoutCore\Block\Onepage\CustomerProcessor" type="Marvelic\CustomNewsletter\Block\Onepage\CustomerProcessor"/>
</config>