<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Isobar_Megamenu::config" title="Isobar Megamenu" sortOrder="80" />
                        </resource>
                    </resource>
                </resource>
                <resource id="Magento_Backend::content">
                    <resource id="Isobar_Megamenu::menu" title="Isobar Mega Menu" translate="title" sortOrder="100">
                        <resource id="Isobar_Megamenu::menu_links" title="Custom Menu Items" translate="title" sortOrder="10"/>
                        <resource id="Isobar_Megamenu::menu_builder" title="Menu Builder" translate="title" sortOrder="20"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
