<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\PricePermissions\Observer\AdminhtmlBlockHtmlBeforeObserver" type="Marvelic\MagentoPricePermissions\Observer\AdminhtmlBlockHtmlBeforeObserver"/>
</config>
