<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
	<system>
		<tab id="anowave" translate="label" sortOrder="1">
			<label>Anowave Extensions</label>
		</tab>
		<section id="ecoam" translate="label" type="text" sortOrder="145" showInDefault="1" showInWebsite="1" showInStore="1">
			<label>Google Tag Manager Amasty Add-on</label>
			<tab>anowave</tab>
			<resource>Anowave_Ecoam::anowave</resource>
			<group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>General Options</label>
				<field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
			</group>
		</section>
	</system>
</config>