<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <social>
            <general>
                <enabled>0</enabled>
            </general>
            <login_block>
                <default_is_visible>0</default_is_visible>
                <default_template>default</default_template>
                <default_groups>
                    <login>Login</login>
                    <register>Register</register>
                    <cart>Cart</cart>
                    <checkout>Checkout</checkout>
                </default_groups>
            </login_block>
            <kakao>
                <enabled>0</enabled>
                <title>Kakao</title>
                <sort_order>10</sort_order>
            </kakao>
            <naver>
                <enabled>0</enabled>
                <title>Naver</title>
                <sort_order>20</sort_order>
            </naver>
            <line>
                <enabled>0</enabled>
                <title>Line</title>
                <sort_order>30</sort_order>
            </line>
        </social>
        <Isobar_SocialLogin>
            <guide>https://bluecom.atlassian.net/wiki/spaces/MG/pages/1070760015/Social+login</guide>
        </Isobar_SocialLogin>
    </default>
</config>
