<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="carriers">
            <group id="freeshipping">
                <field id="instructions" translate="label" type="editor" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Instructions</label>
                    <frontend_model>Marvelic\BeamCheckout\Block\Adminhtml\System\Config\Editor</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
