<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) Amasty (https://www.amasty.com)
 * @package Out of Stock Notification for Magento 2
 */-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="amxnotif" translate="label" type="text" sortOrder="152115" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label>Out of Stock Notifications</label>
            <tab>amasty</tab>
            <resource>Amasty_Xnotif::xnotif</resource>

            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>General</label>

                <field id="enabled_module" translate="label comment" type="select" sortOrder="0" showInDefault="1"
                        showInWebsite="1" showInStore="1">
                    <label>Enabled / Disabled moudule</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="account_image" translate="label comment" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Use Configurable Image</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Use configurable product image for simple product subscriptions on account page</comment>
                </field>

                <field id="customer_name" translate="label comment" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Greeting Text for Email</label>
                </field>

                <field id="min_qty" translate="label comment" type="text" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Minimum Stock Quantity</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                    <comment>Minimum stock quantity before the email is triggered.</comment>
                </field>

                <field id="test_notification_email" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Test Stock Notification Email</label>
                    <validate>validate-email</validate>
                    <comment>Please go to the Reports > Stock Alerts to send it.</comment>
                </field>

                <field id="show_out_of_stock_only" translate="label comment" type="select" sortOrder="50" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Show Options of Out Of Stock Configurable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Set ‘Yes’ to allow customers to subscribe on ‘out of stock' configuration of ‘out of stock’ Configurable Product.</comment>
                </field>
            </group>

        </section>
    </system>
</config>
