<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="meetanshi_order_upload">
        <observer name="order_attachemnt_bank_transfer_change_payment_review"
                  instance="Isobar\OrderAttachment\Observer\OrderAttachmentBankTransferObserver"/>
    </event>
</config>