<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <atome_payment_gateway>
                <active>0</active>
                <price_divider_product_list>1</price_divider_product_list>
                <price_divider_product_detail>1</price_divider_product_detail>
                <cancel_timeout>720</cancel_timeout>
                <debug>0</debug>
                <order_status>processing</order_status>
                <new_order_status>pending</new_order_status>
                <order_email_send_by>default</order_email_send_by>
                <clear_cart_without_paying>0</clear_cart_without_paying>
                <sort_order>0</sort_order>
                <model>Atome\MagentoPayment\Services\Payment\PaymentGateway</model>
                <payment_action>authorize_capture</payment_action>
<!--                <merchant_api_secret backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>-->
                <allowspecific>0</allowspecific>
                <can_use_checkout>1</can_use_checkout>
            </atome_payment_gateway>
        </payment>
    </default>

</config>
