<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\VisualMerchandiser\Model\Sorting\OutStockBottom" type="Marvelic\VisualMerchandiser\Model\Sorting\OutStockBottom" />
    <!-- <preference for="Magento\VisualMerchandiser\Block\Adminhtml\Category\Merchandiser\Tile" type="Marvelic\VisualMerchandiser\Block\Adminhtml\Category\Merchandiser\Tile" /> -->
</config>
