<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="customerdatamigration" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Auto Sending Reset Password To Customer</label>
            <tab>isobar</tab>
            <resource>Isobar_CustomerDataMigration::config</resource>

            <!-- General settings -->
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="message" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Message</label>
                    <comment>Message to show if the customer tries to log in before changing the password</comment>
                </field>
                <field id="frequency" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Frequency</label>
                    <source_model>Magento\Cron\Model\Config\Source\Frequency</source_model>
                    <backend_model>Isobar\CustomerDataMigration\Model\Config\CronConfig</backend_model>
                </field>
                <field id="time" translate="label comment" sortOrder="3" type="time" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Start Time</label>
                    <backend_model>Isobar\CustomerDataMigration\Model\Config\CronConfig</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
