<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Firebear\ImportExport\Model\Import\Address" type="Marvelic\Import\Model\Import\Address" />
    <preference for="Firebear\ImportExport\Model\Import\NewsletterSubscriber" type="Marvelic\Import\Model\Import\NewsletterSubscriber" />
</config>