<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- EC4 -->
    <preference for="Anowave\Ec4\Helper\Data" type="Marvelic\AnowaveEc4\Helper\Data"/>
    <preference for="Anowave\Ec4\Plugin\Refund" type="Marvelic\AnowaveEc4\Plugin\Refund"/>
    <preference for="Anowave\Ec4\Plugin\Api\Measurement\Protocol" type="Marvelic\AnowaveEc4\Plugin\Api\Measurement\Protocol"/>

    <!-- EC -->
    <preference for="Anowave\Ec\Helper\Data" type="Marvelic\AnowaveEc4\Helper\DataEc"/>
</config>