<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="isobar" translate="label" sortOrder="1000">
            <label>Isobar</label>
        </tab>
        <section id="zipcode" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Zipcode Suggestion</label>
            <tab>isobar</tab>
            <resource>Isobar_ZipcodeSuggestion::config_zipcode</resource>
            <group id="general" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Zipcode Suggestion</label>
                <field id="zipcode_general_active" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable/Disable</label>
                    <comment>Enable/Disable module</comment>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="show_address_suggestion_for_the_country" translate="label comment" type="select" sortOrder="10" showInStore="1">
                    <label>Show address suggestion for the country</label>
                    <source_model>Isobar\ZipcodeSuggestion\Model\Config\Source\SuggestionCountry</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
