& when (@media-common = true) {
    .amcheckout-wrapper{
        .amcheckout-shipping-methods{
            .row{
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
    .table-checkout-shipping-method{
        tr{
            margin-left: 0;
            margin-right: 0;
        }
    }
    .checkout-index-index{
        .page-header{
            z-index: 0;
        }
    }

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .store-selector-popup{
        .block-search {
            .field.search{
                position: relative;
            }
            .control {
                margin: auto;
                input{
                    position: relative;
                    left: 0;
                }
            }
            .label{
                position: absolute;
                right: 0;
                z-index: 1;
                top: 16px;
            }
        }
    }
    .checkout-container {
        .checkout-shipping-address {
            div.new-address-popup{
                margin: auto;
            }
        }
    }
}

